<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/signup.css"/>
</head>
<body>
<div class="container">
    <form class="form-" method="post" action="exhibition/index.php/Admin/index/checkIn">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="name" name='username' id="inputEmail" class="form-control" placeholder="name" required autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>